<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="javascript:location = '/' + currentVersion() + '/dev/';">Developer Guide</a></li>
<li><a href="javascript:window.open('/' + currentVersion() + '/api/');">API Reference</a></li>
<li><a href="javascript:location = '/' + currentVersion() + '/examples/';">Examples</a></li>
<%- partial('partials/resources_dropdown') %>
