<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">Resources</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Installation</h4></li>
    <li><ul>
      <li><a href="https://pypi.python.org/pypi/cement/" class="nav-link" target="_blank">PyPi Packages</a></li>
      <li><a href="https://github.com/datafolklabs/cement/" class="nav-link" target="_blank">Sources Code</a></li>
    </ul></li>
    <li><h4>Getting Help</h4></li>
    <li><ul>
      <li><a href="/mailing-list/" class="nav-link">Mailing List</a></li>
      <li><a href="https://gitter.im/datafolklabs/cement/" class="nav-link" target="_blank">Chat</a></li>
      <li><a href="https://github.com/datafolklabs/cement/issues/" class="nav-link" target="_blank">Bug Reporting</a></li>
      <li><a href="https://github.com/datafolklabs/cement/issues/" class="nav-link" target="_blank">Feature Requests</a></li>
    </ul></li>
    <li><h4>Continuous Integration Testing</h4></li>
    <li><ul>
      <li><a href="https://travis-ci.org/datafolklabs/cement/" class="nav-link" target="_blank">Travis CI</a></li>
    </ul></li>
    <li><h4>Recommendations</h4></li>
    <li><ul>
      <li><a href="https://awesome-python.com/" class="nav-link" target="_blank">Awesome Python</a></li>
      <li><a href="https://pycoders.com/" class="nav-link" target="_blank">Pycoders Weekly</a></li>
      <li><a href="https://vuejs.org/" class="nav-link" target="_blank">Vue.js JavaScript Framework</a></li>
      <li><a href="https://community.algolia.com/docsearch/" class="nav-link" target="_blank">Algolia Docsearch</a></li>
    </ul></li>
  </ul>
</li>


